h1,h4{
    font-family: "微软雅黑","Microsoft Yahei","Microsoft Sans Serif"
}

h4{
    font-weight: 500;
    font-size: 1.3em;
}

.row li{
    height: auto;
    margin: 20px auto;
}

@media only screen and (max-width:844px){
    ul li img{
        height: 150px!important;
        width: auto!important;
    }
} 

.count{
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    margin: 0px 5px;
    width: 3em;
}

.choose i{
    font-size: 1.2em;
    cursor: pointer;
}

.sure-buy h4 , .sure-buy button{
    display: inline-block;
} 

.sure-buy h4{
    padding: 0 1em;
}